{% extends 'base.html' %}

{% block 'main' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>

<body>
    <!--Main start-->
    <div class="container">
        <div class="row">
            <div class="col-md-9"><!--Customer Details & product start-->
                <h5 class="bg-secondary text-white p-3">Customer Details</h5>
                {% for x in product %}
                {% if forloop.counter == 1 %}
                <p><strong>Name:</strong>&nbsp;&nbsp;&nbsp;{{x.uid.username}}</p>
                <p><strong>Mobile:</strong>&nbsp;&nbsp;&nbsp;7418520963</p>
                <p><strong>Email:</strong>&nbsp;&nbsp;&nbsp;{{x.uid.email}}</p>
                {% endif %}
                {% endfor %}

                <div class="row">
                    <h5 class="bg-secondary text-white p-3">Product Details</h5>
                    {% for x in product %}
                    <div class="col-md-4">
                        <img src="{{x.pid.pimage.url}}" width="50%">
                    </div>
                    <div class="col-md-6 mb-4">
                        <p><strong>Product Name:</strong>&nbsp;&nbsp;&nbsp;{{x.pid.name}}</p>
                        <p><strong>Price:</strong>&nbsp;&nbsp;&nbsp;Rs.{{x.pid.price}}</p>
                        {% if x.pid.cat == 1 %}
                            <p class="card-text">Mobile</p>
                        {% elif x.pid.cat == 2 %}
                            <p class="card-text">Shoes</p>
                        {% else %}
                            <p class="card-text">Clothes</p>
                        {% endif %}
                        <p><strong>Product Description:</strong>&nbsp;&nbsp;&nbsp;{{x.pid.pdetails}}</p>
                        <p>
                            <strong>QTY: </strong>
                            <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                            <input type="number" name="" id="" value="{{x.qty}}">
                            <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></a>
                        </p>
                        <a href="/remove/{{x.id}}"><button class="btn btn-danger">Remove</button></a>
                    </div>
                    {% endfor %}
                    
                </div>
            </div><!--Customer Details end-->

            <div class="col-md-3"><!--Total amount start-->
                <h5 class="bg-secondary text-white p-3">Total Amount</h5>
                <p><strong>Total({{totalitem}} items): </strong> &nbsp;&nbsp;&nbsp;Rs. {{totalprice}}/-</p>
                <hr>
                <p><strong>Total Amount: </strong> &nbsp;&nbsp;&nbsp;Rs. {{totalprice}}/-</p>
                <a href="/placeorder"><button class="btn btn-danger">Place Order</button></a>
            </div>
        </div>
    </div>

    <!--Main end-->

    <!--<script src="asset/js/bootstrap.min.js"></script>-->
</body>

</html>

{% endblock 'main' %}