{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{% static 'asset/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body>
    <!--Footer Start-->
    <div class="container">
        `<div class="row">
            <div class="col-md-4">
                <h5>Address</h5>
                <hr>
                2nd floor, Landmark Building<br>
                Near Mg Road<br>
                Shivagi Nagar Mumbai<br>
                <p><a href=""><i class="bi bi-telephone"></i></a>&nbsp;&nbsp;&nbsp;7418529630</p>
                <p><a href=""><i class="bi bi-envelope-at"></i></a>&nbsp;&nbsp;&nbsp;xyz@gmail.com</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <hr>
                <p><a href="/home" class="anchor">Home</a></p>
                <p><a href="/about" class="anchor">About</a></p>
                <p><a href="/viewcart" class="anchor">Cart</a></p>
                <p><a href="/pdetails" class="anchor">Product</a></p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <hr>
                <h5><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a>&nbsp;&nbsp;&nbsp;</h5>
                <h5><a href="http://www.instagram.com"><i class="bi bi-instagram"></i></a>&nbsp;&nbsp;&nbsp;</h5>
                <h5><a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a>&nbsp;&nbsp;&nbsp;</h5>
                <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;&nbsp;</h5>
            </div>
        </div>
    </div>
    <!--Footer End-->
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'asset/js/popper.min.js' %}"></script>
</body>
</html>